body {width:expression(document.documentElement.clientWidth < 924 ? "924px" : "auto");}

img, .png {
	position:relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?	(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}

.sub-nav-top {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/sub-nav-top.png', sizingmethod='crop');
}
.sub-nav-btm {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/sub-nav-btm.png', sizingmethod='crop');
}
.sub-nav-cnt {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/sub-nav-bg.png', sizingmethod='scale');
}
.free {
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/free-bg.png', sizingmethod='crop');
}