<div class="result-box hentry hnews">
	<h1 class="entry-title"><a href="{{ document.fields.url.value }}">{{ document.fields.title.value }}</a></h1>
	<p class="entry-summary">
		{{ document.highlight|safe }}
	</p>
	<ul class="info">
		<li class="published">First published <span class="value-title" title="{{ document.get_model.published|date:"Y-m-d\TH:iO" }}">{{ document.get_model.published|date:"h:i d-m-y" }}</span></li>
		<!--
		<li>Source: FIXME</li>
		<li><a href="#">Usage Rights FIXME</a></li>
		-->
	  {% for principle in document.get_model.principles.all %}
		<li class="principles"><a href="{{ principle.url }}" rel="principles">Principles</a></li>
	  {% endfor %}
	</ul>
	<p class="link"><a href="{{ document.fields.url.value }}" rel="bookmark">{{ document.fields.url.value }}</a></p>
</div>
