<div class="result-box">
	<h1><a href="{{ document.fields.url.value }}">{{ document.fields.title.value }}</a></h1>
	<p>
		{{ document.highlight|safe }}
	</p>
	<ul class="info">
		<li>First published {{ document.get_model.published|date:"h:i d-m-y" }} </li>
		<!--
		<li>Source: FIXME</li>
		<li><a href="#">Usage Rights FIXME</a></li>
		<li class="principles">principles FIXME</li>
		-->
	</ul>
	<p class="link"><a href="{{ document.fields.url.value }}">{{ document.fields.url.value }}</a></p>
</div>
